// Blog

body.blog,
body.single-post {
  @include colorScheme($purple);
}

body.blog {
  #page-content {
    .post-category {
      position: relative;
      padding-bottom: $padding;

      @include media-md {
        padding-bottom: $padding-medium;
      }

      h3 {
        @include type-h2;
      }

      + .post-category {
        padding-top: 0;
      }
    }

    .news-list {
      @include media-md {
        .article {
          width: 25%;
          padding-right: 40px;
        }
      }
    }
  }
}