//  Grants & Commissions

.page.grantee-project,
.page.grants-commissions {
  @include colorScheme($yellow);
}

.projects-list,
.commissions-list {
  margin-top: 50px;
  margin-left: -20px;
  width: calc(100% + 40px);
  .project,
  .commission {
    padding-left: 20px;
    padding-right: 20px;
    .image-wrap {
      @include angledEdge(both, $beforeOrientation: rtl, $afterOrientation: rtl, $color: $gray);
      margin: 0;
      &::before,
      &::after {
        height: 3vw;
      }
    }
    .image {
      height: 0;
      width: 100%;
      padding-bottom: 100%;
      background-size: cover;
      background-position: top center;
    }
    h2 {
      z-index: 1;
      position: relative;
    }
    a {
      color: $yellow;
      &:hover,
      &:focus,
      &:active {
        text-decoration: underline;
      }
    }
  }
}

// Single Commissions / Projects
body.single.single-project,
body.single.single-commission {
  @include colorScheme($yellow);

  .images-section {
    // padding: 0;
    background-color: $yellow;

    .image-caption {
      color: $black;
    }
  }
}