// Hubs Page

.page.hubs,
body.single-hub {
  @include colorScheme($green);
}

// Hubs List
.hub-list {
  .hub {
    margin-top: $padding;
    
    .article-title {
      margin: 0 0 6px;
    }
    .hub-address {
      margin: 0;
    }
  }
}

// Single Hubs
body.single-hub {

  // Hub Staff
  .hub-staff {
    margin-top: 40px;

    .staff-member-organizer {
      h4 {
        margin: 0;
      }
      + .staff-member-organizer {
        margin-top: 40px;
      }
    }
  }

  // Secondary Orgs
  .secondary-orgs {
    margin-top: 100px;
  }
  .secondary-org {
    .organization-website {
      margin-top: 20px;
    }
  }

}