// Resources 

.page.resources,
body.single-resource {
  @include colorScheme($green);
}

// Single Resource
body.single-resource {
  .page-header .page-header-text {
    background: none;
  }

  .resource-meta {
    z-index: 1;
    @include angledEdge(after, $afterOrientation: rtl, $color: $black);
    margin-bottom: -4vw;

    @include max-screen($breakpoint-medium) {
      &::after {
        display: none;
      }
    }
  }
  .address {
    p {
      margin: 0;
    }
  }

  .map-container {
    @include media-md {
      height: auto;
      min-height: 600px;

      #map {
        top: 0;
        left: 0;
        right: 0;
        position: absolute;
      }

      .mapboxgl-ctrl-top-right {
        top: 4vw;
      }
    }
  }
}

// Resource submission section
.resource-submission {

  .resource-submission-text {
    display: none;
    padding-top: 40px;
  }
}