//  Share Your Story

.page.share-your-story,
body.single-story {
    @include colorScheme($green);
}

.new-story-form {
  margin-top: 50px;
  textarea {
    min-height: 280px;
  }
  .submit {
    width: 100%;
    display: block;
  }
}

.story-submitted-wrapper {
  h3 {
    color: $green;
  }
}

// Stories List
.story-list {
  margin-top: 40px;

  .empty-message {
    padding-left: 20px;
  }

  .story {
    .article-title {
      margin: 0 0 10px;
    }
    p {
      margin: 0;
    }
  }
}

// Single Story
body.single-story {
  .page-header {
    .page-header-top {
      @include killAngle(after);
      margin-bottom: 20px;
      @include media-md {
        margin-bottom: 40px;
      }
    }
    .page-header-bottom {
      z-index: 2;
      @include killAngle(before);
    }
    .page-header-text {
      padding-top: 0;
      background: none;
      padding-bottom: 60px;
      @include killAngle(before);
      .-inner {
        max-width: 820px;
      }
    }
  }
}