//  Share Your Story

.page.share-your-story,
body.single-story {
    @include colorScheme($green);
}

.new-story-form {
  margin-top: 50px;
  textarea {
    min-height: 280px;
  }
  .submit {
    width: 100%;
    display: block;
  }
}

.story-submitted-wrapper {
  h3 {
    color: $green;
  }
}

// Stories List
.story-list {
  margin-top: 40px;

  .empty-message {
    padding-left: 20px;
  }

  .story {
    .article-title {
      margin: 0 0 10px;
    }
    p:not(.actions) {
      margin: 0;
    }
  }
}