// Single Posts
body.single-post {
  .post-footer {
    margin-top: 40px;
    @include angledRule(before, $gray-dark);
    .tags {
      color: $purple;
    }
  }

  .post-featured-image {
    height: 0;
    width: 100%;
    background-size: cover;
    padding-bottom: 85.7142857%;
  }
}

// Common Single Post styles
body.single {

  // Images Slider
  .images-section {
    position: relative;

    .slider {

      .slide-image {
        height: 0;
        width: 100%;
        background-size: cover;
        padding-bottom: 85.7142857%;
      }
    }
  }

}