// Accordions

.accordion {
  
  .accordion-toggle,
  .accordion-title {
    cursor: pointer;
    min-height: 50px;
    margin-top: 20px;
    margin-bottom: 0;
    padding-top: 23px;
    line-height: 20px;
    position: relative;
    padding-right: 80px;
    &::before {
      top: 0;
      left: 0;
      content: '';
      height: 1px;
      width: 100%;
      position: absolute;
      background: $gray-dark;
      transform-origin: left;
      transform: skewY(2.68deg);
      will-change: transform, top;
      transition: transform .2s ease-out, top .2s ease-out;
    }
    &:hover {
      &::before {
        top: 17px;
        transform: none;
      }
    }

    span {
      vertical-align: bottom;
    }

    button {
      right: 0;
      top: -7px;
      position: absolute;
    }
  }

  .accordion-content {
    padding-top: 20px;
  }

  // Active State
  &.open {

    .accordion-toggle {
      &::before {
        top: 17px;
        transform: none;
      }
    }

  }

  // Accordion Title form wordpress accordions
  .accordion-title {
    &:focus {
      outline: none;
    }
    &.open {
      &::before {
        top: 17px;
        transform: none;
      }
    }
  }

}