// Articles

.article-list {
  &.grid {
    @include media-sm {
      margin-left: -20px;
      width: calc(100% + 40px);
      article {
        max-width: 50%;
        flex-basis: 50%;
        padding: 0 20px;
      }
    }
  }

  article {
    margin-bottom: 40px;
    .article-title {
      margin: 0 0 10px;
      @include type-h2;
      a {
        hyphens: auto;
        &:hover,
        &:active,
        &:focus {
          text-decoration: underline;
        }
      }
    }

    .article-details {
      @include type-h3;
      p {
        margin: 0;
      }
    }

    .actions,
    .article-category {
      @include type-h3;
      a {
        &:hover,
        &:active,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}