// Buttons

.button {
  color: $black;
  padding: 20px;
  outline: none;
  cursor: pointer;
  @include type-h3;
  background: none;
  border-radius: 0;
  border-width: 5px;
  border-style: solid;
  border-color: $black;
  display: inline-block;
  &:hover {
    color: $gray;
    background-color: $black;
    .icon {
      fill: $gray;
    }
  }
  &[disabled] {
    color: $gray-dark;
    border-color: $gray-dark;
    &:hover {
      cursor: no-drop;
      color: $gray-dark;
      background-color: transparent;
    }
  }

  .icon {
    width: 25px;
    height: 25px;
    fill: $black;
  }

  &.button-circular {
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 50%;
    border: 3px solid $black;
    .icon {
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
    }
  }

  &.button-close {
    .icon-plus {
      transform: rotate(45deg);
    }
    &.button-circular {
      .icon-plus {
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
  }
}

@each $name, $color in $colors {
  .button.-#{$name} {
    color: $color;
    border-color: $color;
    .icon {
      fill: $color;
    }
    &:hover {
      color: $black;
      background-color: $color;
      .icon {
        fill: $black;
      }
    }
  }
}