// Color Themes

// Color Classes
$colors: (
  yellow: $yellow,
  green: $green,
  orange: $orange,
  purple: $purple,
  black: $black,
  gray: $gray,
  gray-light: $gray-light,
  gray-dark: $gray-dark,
  white: $white,
  white-dark: $white-dark
);
@each $name, $color in $colors {
  .color-bg-#{$name} {
    background-color: $color;
  }
  .color-#{$name} {
    color: $color;
  }
}

// Page Color Schemes
@mixin colorScheme($color) {
  // Global elements
  
  // forms
  form {
    .input-wrap {
      &.-focus::after {
        background-color: $color;
      }
    }
  }

  // Header
  .site-header {
    .container::before {
      background-color: $color;
    }

    @include min-screen($breakpoint-nav) {
      .search-form {
        .search-submit {
          color: $color;
          border-color: inherit;
          &:hover,
          &:focus {
            color: $black;
            background: $color;
            border-color: $color;
          }
        }
        .search-close {
          .icon {
            fill: $color;
          }
        }
      }
    }
  }
  @at-root {
    &.menu-open .site-header .container::before {
      @include max-screen($breakpoint-nav - 1px) {
        background-color: $gray-light;
      }
    }
  }

  // Site Nav
  .site-nav {
    background: $color;

    ul li a::after {
      background: $color;
    }

    @include min-screen($breakpoint-nav) {
      background: none;
      a {
        color: $color;
      }

      .icon {
        fill: $color;
      }
    }
  }
  .menu-toggle:not(.menu-open) {
    color: $color;
    .menu-bar {
      background-color: $color;
    }
  }

  // Page Header
  .page-header {
    .page-title,
    .header-text {
      color: $color;
    }

    .page-header-background {
      &::after {
        background-color: $color;
      }
    }

    .page-header-text {
      background: $color;
    }
  }

  // Buttons
  .button {
    color: $color;
    .icon {
      fill: $color;
    }
    &:hover,
    &:focus {
      color: $black;
      border-color: $color;
      background-color: $color;
      .icon {
        fill: $black;
      }
    }
  }

  // Color-specific changes
  // Purple
  @if $color == $purple {
    @include max-screen($breakpoint-nav - 1px) {
      @at-root {
        &.menu-open .site-header {
          .container::before {
            background: $black;
          }

          .site-logo {
            .icon {
              fill: $gray-light;
            }
          }

          .menu-toggle.menu-open {
            color: $gray-light;
            .menu-bar {
              &::before,
              &::after {
                background-color: $gray-light;
              }
            }
          }
        }
      }

      .site-nav {
        a,
        .search-toggle {
          color: $gray-light;
          &::before {
            background: $gray-light;
          }
        }
      }
    }
  }

}