// Filter

.filters {
  margin-bottom: 40px;

  .field-group {
    margin-top: 5px;
  }

  .actions {
    margin-top: 20px;
    .grid-item:first-of-type {
      margin-bottom: 20px;
      @include media-sm {
        margin-bottom: 0;
      }
    }
  } 
}