// Footer

footer.site-footer {
  color: $white-dark;
  background: $black;
  @include angledEdge(before);

  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .logos {
    a {
      display: inline-block;
      svg {
        vertical-align: top;
      }
      &:first-of-type {
        margin-right: 35px;
      }
    }
  }

  .il-humanities-logo {
    width: 123px;
    height: 50px;
  }
  .envisioning-justice-logo {
    height: 40px;
    width: 145px;
    fill: #bcb5b5;
  }

  .newsletter-form {
    margin-bottom: 60px;
    .-bottom {
      display: flex;
    }
    .form-group {
      flex-grow: 1;
      padding-right: 40px;
    }
    .input-wrap {
      &::after {
        background-color: $gray;
      }
    }
    .submit {
      max-width: 50px;
      flex-basis: 50px;
      align-self: flex-end;
    }
  }
}