// Forms

// General form styles
form {
  .actions {
    margin-top: 20px;
  }

  .input-wrap {
    display: flex;
    position: relative;
    margin-top: $padding;
    &::after {
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      content: '';
      position: absolute;
      background-color: $black;
      transition: height .1s ease-out, background-color .1s ease-out;
    }
    &.-focus {
      &::after {
        height: 5px;
      }
    }
    &:first-of-type {
      margin-top: 0;
    }
    label {
      max-width: 200px;
      flex-basis: 200px;
      align-self: center;
      padding: 14px 10px 14px 0;
    }
    input {
      text-align: right;
    }
    &.filled {
      label {
        // display: none;
      }
    }

    &.textarea-wrap {
      display: block;

      label {
        padding: 0;
        top: $padding;
        left: $padding;
        position: absolute;
      }
      input {
        text-align: left;
      }

      &.-focus,
      &.filled {
        label {
          display: none;
        }
      }
    }
  }

  input,
  textarea {
    width: 100%;
    color: inherit;
    display: block;
    appearance: none;
    background: none;
    &:focus {
      outline: none;
    }
  }

  label {
    @include type-h3;
    font-size: 10px;
  }

  input {
    border: none;
    padding: 14px 0;
    border-bottom: 1px solid;
  }

  textarea {
    padding: $padding;
    border: 1px solid;
  }
}

// Custom select styles
.select-wrapper {
  margin: 0;
  padding: 0;
  position: relative;
  select {
    // color: $dk-blue;
    box-shadow: none;
    border-radius: 0;
    border: none;
    padding-right: 28px;
    background: none;
    -webkit-appearance: none;
    &:focus {
      outline: none;
    }
  }
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    width: 30px;
    content: '';
    pointer-events: none;
    border-left: 1px solid $white;
    background: url("../images/icon-arrow-down.svg") no-repeat center center;
    background-size: 13px 8px;
  }
}

// Events/News filters have slightly different style
.filters {
  .program-topic,
  .focus-area-topic {
    white-space: nowrap;
    overflow: hidden;
  }
}
.filters .select-wrapper {
  display: inline-block;
  border-bottom: 1px solid $yellow;
  select {
    // @include font-style1;
    max-width: 200px;
    text-transform: uppercase;
  }
  &::after {
    height: 16px;
    width: 24px;
    border: none;
    background-color: $white;
  }
}
// go firefox!
@-moz-document url-prefix() {
  .filters .select-wrapper select {
    -moz-appearance: none;
  }
}