// Grid

.grid {
  width: 100%;
  display: block;

  .grid-item {
    width: 100%;
  }

  @include media-sm {
    display: flex;
    flex-wrap: wrap;
    &.sm-spaced {
      margin-left: -#{$padding};
      width: calc(100% + #{$padding * 2});
      > .grid-item {
        padding-left: #{$padding};
        padding-right: #{$padding};
      }
    }
    &.sm-col-spaced {
      margin-left: -#{$col / 2};
      width: calc(100% + #{$col});
      > .grid-item {
        padding-left: #{$col / 2};
        padding-right: #{$col / 2};
      }
    }
  }

  @include media-md {
    &.md-spaced {
      margin-left: -#{$padding};
      width: calc(100% + #{$padding});
      > .grid-item {
        padding-left: #{$padding};
        padding-right: #{$padding};
      }
    }
    &.md-col-spaced {
      margin-left: -#{$col / 2};
      width: calc(100% + #{$col});
      > .grid-item {
        padding-left: #{$col / 2};
        padding-right: #{$col / 2};
      }
    }
  }

  &.-persist {
    display: flex;
  }
}

@include media-sm {
  .sm-full {
    max-width: none;
    flex-basis: 100%;
  }
  .sm-one-fourth {
    max-width: 25%;
    flex-basis: 25%;
  }
  .sm-one-third {
    flex-basis: 33.3333333%;
    max-width: 33.3333333%;
  }
  .sm-one-half {
    flex-basis: 50%;
    max-width: 50%;
  }
  .sm-two-thirds {
    flex-basis: 66.6666667%;
    max-width: 66.6666667%;
  }
}

@include media-md {
  .flex-item {
    flex-basis: auto;
  }
  .md-full {
    max-width: 100%;
    flex-basis: 100%;
  }
  .md-one-fourth {
    max-width: 25%;
    flex-basis: 25%;
  }
  .md-one-third {
    flex-basis: 33.3333333%;
    max-width: 33.3333333%;
  }
  .md-one-half {
    flex-basis: 50%;
    max-width: 50%;
  }
  .md-two-thirds {
    flex-basis: 66.6666667%;
    max-width: 66.6666667%;
  }
}

// Independent of grid, width classes
.w-25 {
  width: 25%;
}
.w-33 {
  width: 33.3333%;
}
.w-50 {
  width: 50%;
}
.w-66 {
  width: 66.6666%;
}
.w-75 {
  width: 75%;
}