// Maps

.map-container {
  height: 100%;
  position: relative;
}

#map,
.map {
  z-index: 0;
  display: none;
  @include media-md {
    height: 100%;
    display: block;
    background-image: url('../images/map-image.jpg');
    background-size: cover;
    background-position: center center;
  }
}

// Map-point styles
.map-point {
  &.-hover {
    .article-title a {
      text-decoration: underline;
    }
  }
}