// Nav

nav.site-nav {
  float: right;

  ul {
    li {
      @include type-h3;
    }
  }

  // Search
  .search-form {
    button {
      border: none;
      outline: none;
      background: none;
      .icon {
        width: 25px;
        height: 25px;
      }
    }

    input {
      display: none;
    }
  }

  @include min-screen($breakpoint-nav) {

    .search-form {
      display: inline-block;
    }

    ul {
      line-height: 25px;
      vertical-align: top;
      display: inline-block;
      li {
        margin-right: 30px;
        position: relative;
        display: inline-block;
        a {
          position: relative;        
          &::after {
            left: 0;
            width: 0;
            opacity: 0;
            content: '';
            height: 3px;
            bottom: -19px;
            position: absolute;
            background: $yellow;
            animation: collapse .2s forwards;
          }
          &:hover {
            &::after {
              opacity: 1;          
              animation: bounceInLeft .2s .2s both;
            }
          }
        }
      }
    }

    &.-animate {
      // Hide the after element on load so you don't see a flash of the animation, and then show it after page load
      ul li a::after {
        opacity: 1;
      }
    }
  }
}
