// Variables

// Colors
$white: #fff;
$white-dark: #ccc5c5;
$gray-lightest: #d2cdcd;
$gray-light: #c4bdbd;
$gray: #bcb5b5;
$gray-dark: #9c9393;
$black: #323232;
$yellow: #ffe929;
$green: #23f8ad;
$orange: #f16034;
$purple: #7047f3;

// Breakpoints
$breakpoint-small: 480px;
$breakpoint-medium: 1000px;
$breakpoint-nav: 1360px;
$breakpoint-large: 1200px;

// Spacing
$padding: 20px;
$padding-medium: 120px;
$col: (1 / 12) * 100%;

// Angle Used ON visuals
$angle: 1.63deg;